<section>
  <div class="container partners" id="partners">
    <h1>Partenaires</h1>
    <img src="/partenaires/bimbimgo.jpg" alt="BimBimGo" class="grayscale-hover">
    <img src="/partenaires/pumpkin.svg" alt="pumpkin" class="grayscale-hover">
    <img src="/partenaires/clicMachine.svg" alt="Clic Machine">
    <img src="/partenaires/daddy.svg" alt="daddy" class="grayscale-hover">
    <img src="/partenaires/pepsico.svg" alt="pepsico" class="grayscale-hover">
    <img src="/partenaires/SQLI.svg" alt="SQLI" class="grayscale-hover">
    <img src="/partenaires/mGoodBeer.gif" alt="mGoodBeer" class="grayscale-hover">
    <img src="/partenaires/skyn.svg" alt="skyn" class="grayscale-hover">
    <img src="/partenaires/Société_Générale.svg" alt="Société_Générale" class="grayscale-hover">
    <img src="/partenaires/heetch.svg" alt="heetch" class="grayscale-hover">
  </div>
</section>
