
<section>
  <div class="container partners" id="partners">
    <h1>Partenaires</h1>
    <a href="#myModal" data-toggle="modal">See more</a>
      <div>


        <img src="/partenaires/bimbimgo.jpg" alt="BimBimGo">

        <p><b>Bim bim go</b></p>
      </div>

      <div>
        <img src="/partenaires/clicMachine.png" alt="">
        <p><b>Clic Machine</b></p>
      </div>

      <div>
        <img src="/partenaires/daddy.png" alt="">
        <p><b>Daddy</b></p>
      </div>

      <div>
        <img src="/partenaires/heetch.svg" alt="">
        <p><b>Heetch</b></p>
      </div>

      <div>
        <img src="/partenaires/mGoodBeer.gif" alt="">
        <p><b>Mr Good Beer</b></p>
      </div>

      <div>
        <img src="/partenaires/pepsico.png" alt="">
        <p><b>Pepsico</b></p>
      </div>

      <div>
        <img src="/partenaires/pumpkin.jpg" alt="">
        <p><b>pumbkin</b></p>
      </div>

      <div>
        <img src="/partenaires/skyn.jpg" alt="">
        <p><b>Skyn</b></p>
      </div>

      <div>
        <img src="/partenaires/Société_Générale.svg" alt="">
        <p><b>Société Générale</b></p>
      </div>

  </div>
</section>
