
<!-- Boulangerie -->
<div class="modal fade" id="boulangerie" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Les douceurs de Serge &amp; Nahalie</h4>
      </div>
      <div class="modal-body">
        70b rue Aristide Briand <br>
        78700 Conflans St Honorine <br>
        lesdouceursdesergeetnathalie@laposte.net <br>
        <i class="fa fa-facebook"></i> Les douceurs de Serge et Nathalie
      </div>
    </div>
  </div>
</div>

<!-- yellowBurger -->
<div class="modal fade" id="yellowBurger" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Yellow Burger</h4>
      </div>
      <div class="modal-body">
        Découvrez la cuisine fast-food autrement avec Yellow Burger, un restaurant proposant des spécialités de burgers, frites et desserts 100% faits maisons. Toutes les recettes sont originales, basées sur des ingrédients soigneusement sélectionnés, frais et goûteux, afin de ravir un public sensible à une alimentation saine et savoureuse en restauration rapide.
        <br>
        <h4>Réduction</h4>
        Menu a 8€50 pour un menu Burger, frite, dessert et boisson sur présentation de la carte EISTI
        <br>
        <i class="fa fa-facebook"></i> @yellowburgershomemade
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container partners" id="partners">
    <h1>Partenaires</h1>
    <span><img src="/partenaires/bimbimgo.jpg" alt="BimBimGo" class="grayscale-hover"></span>
    <span><img src="/partenaires/pumpkin.svg" alt="pumpkin" class="grayscale-hover"></span>
    <span><img src="/partenaires/clicMachine.png" alt="Clic Machine" class="grayscale-hover"></span>
    <span><img src="/partenaires/daddy.svg" alt="daddy" class="grayscale-hover"></span>
    <span><img src="/partenaires/Société_Générale.svg" alt="Société_Générale" class="grayscale-hover"></span>
    <a class="plus" href="#boulangerie" data-toggle="modal"><img src="/partenaires/baguette.png" alt="Les douceurs de Serge &amp; Nahalie " class="grayscale-hover"></a>
    <span><img src="/partenaires/t2f.jpg" alt="Société_Générale" class="grayscale-hover"></span>
    <span><img src="/partenaires/pepsico.png" alt="pepsico" class="grayscale-hover"></span>
    <span><img src="/partenaires/setImpact.png" alt="Société_Générale" class="grayscale-hover"></span>
    <a class="plus" href="#yellowBurger" data-toggle="modal"><img src="/partenaires/YellowBurger.png" alt="Yellow Burger" class="grayscale-hover"></a>
    <span><img src="/partenaires/SQLI.svg" alt="SQLI" class="grayscale-hover"></span>
    <span><img src="/partenaires/mGoodBeer.gif" alt="mGoodBeer" class="grayscale-hover"></span>
    <span><img src="/partenaires/skyn.png" alt="skyn" class="grayscale-hover"></span>
    <span><img src="/partenaires/heetch.png" alt="heetch" class="grayscale-hover"></span>
  </div>
</section>
