

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars fa-2x"></span>
        </button>
        <a href="#" class="navbar-brand">Worth it</a>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class=""><a href="#">Accueil</a></li>
          <li class=""><a href="#membres">Membres</a></li>
          <!-- <li class=""><a href="#">Campagnes</a></li> -->
          <li class=""><a href="#voyages">Voyages</a></li>
          <li class=""><a href="defis">Défis</a></li>
          <li class=""><a href="#">Soirées</a></li>
          <!-- <li class=""><a href="#">Projets</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>


<section class="presentation">
  <span></span>
  <div class="title">
    <h3 class="social"> <i class="fa fa-snapchat-square"></i> <i class="fa fa-facebook-square"></i> <i class="fa fa-twitter-square"></i></h3>
    <h1>Worth it</h1>
    <h2>La référence de l'élite eistien</h2>
    <!-- <h1>Starfoullah Team</h1> -->
    <!-- <h2>La référence de l'élite eistien</h2> -->
  </div>
  <div class="more">
    <!-- <h3>Découvre tes listeux</h3> -->
    <h3>Découvre tes listeux</h3>
    <h3><i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
  </div>
</section>
<section class="membres">
  <h1>Membres</h1>
  <h3>Qui sommes-nous ?</h3>

</section>
<section class="voyages" id='voyages'>
  <h1>Voyages</h1>
  <h3>Regarde les merveilleux voyages que tes listeux te proposent</h3>
</section>
