<div class="page-header">
  <h1>Nouveau pôle</h1>
</div>

<%= simple_form_for @team, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: teams_path do |f| %>
    <%= f.input :label %>
    <%= f.input :classification %>

    <%= f.button :submit %>
<% end %>