/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_tree .
 *= require_self
 *= require toImport
 */
 $teamColor: #26293d;
 $fontColor: #666;


 body{
   padding-top: 50px;
 }

 nav {
   background: $teamColor;
   // font-weight: bold;
   font-size: 2rem;
   color: #eef !important;
   border: none;
   &.navbar {
     background: $teamColor;
     transition: background .5s;
     border: none;

     .nav {
       .open > a, .open > a:hover, .open > a:focus {
         background: darken($teamColor, 20%);
         color: #fff;
       }

       .navbar-brand {
          color: #fff !important;
       }

       > li a {
           color: #eef;
           border-bottom: solid 1px transparent;
           font-variant: small-caps;
           &:hover {
             color: #eef;
             border-bottom: solid 1px #fff;
         }
       }
       .dropdown-menu li a {
         color: #333;
         font-variant: normal;
       }
     }
   }
 }
