<h2>Nouveau stand</h2>

<%= simple_form_for @stand, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: stands_path do |f| %>
    <%= f.input :label %>
    <%= f.input :location %>

    <%= f.button :submit %>
<% end %>