<h3 class="social">
   <a href="//snapchat.com/add/savage-officiel" class="fa fa-snapchat-square"></a>
   <a href="//facebook.com/ListeBDESavage" class="fa fa-facebook-square"></a>
   <a href="//twitter.com/ListeBDESavage" class="fa fa-twitter-square"></a>
 </h3>
