<h3 class="social">
   <a href="//snapchat.com/add/savage-officiel" class="fa fa-snapchat-square"></a>
   <a href="//facebook.com/ListeBDESavage" class="fa fa-facebook-square"></a>
   <a href="//www.instagram.com/listebdesavage/" class="fa fa-instagram"></a>
   <a href="//twitter.com/ListeBDESavage" class="fa fa-twitter-square"></a>
   <a href="//www.youtube.com/channel/UCsMqdJVWRwen-f9alOOjScg" class="fa fa-youtube-square"></a>
 </h3>
