<h3 class="social">
   <a href="http://www.snapchat.com/add/savage-officiel" class="fa fa-snapchat-square"></a>
   <a href="" class="fa fa-facebook-square"></a>
   <a class="fa fa-twitter-square"></a>
 </h3>
